<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>404 Error - AE Mobile</title>
        <link href="/css/errors.css" rel="stylesheet" />
        <script src="/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <img class="mb-4 img-error" src="/images/error-404-monochrome.svg" />
                                    <p class="lead"><b>RẤT TIẾC, TRANG BẠN TÌM KIẾM KHÔNG TỒN TẠI!</b></p>
                                    <a href="/">
                                        <i class="fas fa-arrow-left mr-1"></i>
                                        Trở về trang chủ AE Mobile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutError_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; AE Mobile 2020</div>
                            <div>
                                <a href="#">Báo lỗi</a>
                                &middot;
                                <a href="#">Tổng đài hỗ trợ 0989.89.89.89</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/errors.js"></script>
    </body>
</html>