</div>
<div class="tygh-footer clearfix" id="tygh_footer">
    <div class="container footer-grid">
        <div class="row">
            <div class="span16 footer-menu">
                <div class="row">
                    <div class="span5 ">
                        <div class=" width50">
                            <ul class="text-links ">
                                <li class="level-0"> <a href="/huong-dan-mua-hang-chi-tiet-san-pham">Hướng
                                        dẫn thanh toán</a> </li>
                                <li class="level-0"> <a href="/huong-dan-dat-hang">Hướng
                                        dẫn đặt hàng</a> </li>
                                <li class="level-0"> <a href="/huong-dan-mua-tra-gop">Hướng dẫn
                                        mua trả góp</a> </li>
                                <li class="level-0"> <a href="/qui-dinh-doi-moi-san-pham">Qui
                                        định đổi mới sản phẩm</a> </li>
                                <li class="level-0"> <a href="/quy-dinh-bao-hanh-doi-tra">Quy
                                        định bảo hành - đổi trả</a> </li>
                                <li class="level-0"> <a href="/quy-dinh-giao-hang-tan-noi">Quy
                                        định giao hàng tận nơi</a> </li>
                            </ul>
                        </div>
                        <div class=" width45 float-right">
                            <ul class="text-links ">
                                <li class="level-0"> <a href="/gioi-thieu">Giới thiệu AE Mobile</a> </li>
                                <li class="level-0"> <a href="/tuyen-dung">Tuyển
                                        dụng</a> </li>
                                <li class="level-0"> <a href="/dieu-khoan-su-dung">Điều
                                        khoản sử dụng</a> </li>
                                <li class="level-0"> <a href="/chinh-sach-chat-luong">Chính sách
                                        chất lượng</a> </li>
                                <li class="level-0"> <a href="/bao-mat-thong-tin">Bảo
                                        mật thông tin</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6 ">
                        <div class=" info_footer_right">
                            <div class="item_footer_right">
                                <p><strong>Showroom</strong>: <span style="color: #D50F0E; ">227 Đ.Nguyễn Văn Cừ,
                                        Phường 4, Quận 5, TP.HCM</p>
                                <div class="callfree">Tổng đài hỗ trợ <span>(tư vấn miễn phí)</span></div>
                                <div class="buycall">Bán hàng: <span>(8:30 - 21:00)</span> <a href="tel:0989898989">
                                        0989.89.89.89</a> - <a href="tel:0989898989">0989.89.89.89</a></div>
                                <div class="buycall">Kỹ thuật: <span>(8:30 - 21:00)</span> <a
                                        href="tel:0989898989">0989.89.89.89</a></div>
                                <div class="buycall">Khiếu nại: <span>(9:30 - 20:30)</span> <a
                                        href="tel:0989898989">0989.89.89.89</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="span5 my-account-grid">
                        <div class=" no-div">
                            <div id="load_face"> Facebook Page</div>
                            <div id="gotop" style="display: none;"><i class="icon-up-open"></i> </div>
                            <div class="social-follow">
                                <h1>KẾT NỐI VỚI AE Mobile</h1>
                                <div class=" pagepay"> <a href="/huong-dan-mua-hang-chi-tiet-san-pham" target="_blank"
                                        title="Tiền mặt, Chuyển khoản, Thẻ ATM nội địa, Thẻ VISA, Thẻ Master">
                                        <!--<i class="icon-tienmat"></i> <i class="icon-chuyenkhoan"></i>-->
                                        <i class="icon-atm"></i> <i class="icon-visa"></i> <i class="icon-master"></i>
                                    </a> </div><img class="bocongthuong" style=" width: 140px; margin-bottom: 10px; "
                                    src="/images/bocongthuong.png" alt="Dang ky bo cong thuong"> <a title="Facebook"
                                    aria-hidden="true" target="_blank" class="" href="https://www.facebook.com/">
                                    <i class="uni-facebook facebook"></i> Fanpage của AE Mobile </a>
                                <a title="Youtube" aria-hidden="true" target="_blank" class=""
                                    href="https://www.youtube.com/channel/"> <i class="uni-youtube twitter"></i> Youtube
                                    của AE Mobile </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span16 top_search_footer">
                    <div class=" copyright-grid">
                        <div class="buycall">Giấy chứng nhận ĐKKD số xxx.xxxx.xx do Sở KHĐT TP.HCM cấp ngày
                            12/12/2020 </div>
                        <div class="buycall">Bản quyền © 2012 <a href="/">AEMobile.vn</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--tygh_main_container-->
</div>
</div>
<div id="aml_dk_wrap">
    <div class="aml_dk-flex-container"> <a class="aml_dk-channel-zalo" href="https://zalo.me/0999999999" target="_blank"
            rel="nofollow"> <span class="aml-text-content aml-tooltiptext">Chat với chúng tôi
                qua Zalo</span> </a> </div>
    <div class="aml_dk-flex-container"> <a class="aml_dk-channel-facebook"
            onclick="return gtag_report_conversion('https://m.me/aemobilevn')" href="https://m.me/aemobilevn"
            target="_blank" rel="nofollow"> <span class="aml-text-content aml-tooltiptext">Facebook
                Messenger</span> </a> </div>
</div>
<style>
    .aml_dk-flex-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: visible !important;
    }

    .aml_dk-flex-container>a {
        width: 50px !important;
        height: 50px !important;
        margin: 0px !important;
        background-size: 100% !important;
        border: 2px solid #fff !important;
        border-radius: 50% !important;
        position: relative;
    }

    .aml_dk-channel-zalo {
        background-image: url(/images/icons/widget_icon_zalo.svg);
    }

    .aml_dk-channel-facebook {
        background-image: url(/images/icons/widget_icon_messenger.svg);
    }

    .aml-tooltiptext {
        background-image: linear-gradient(180deg, #4fc3f7 0%, #0277bd 100%);
        color: #fff;
    }

    .aml_dk-flex-container:hover .aml-tooltiptext {
        visibility: visible;
        right: 55px;
        top: 10px;
        opacity: 1;
    }

    .aml_dk-flex-container .aml-tooltiptext {
        visibility: hidden;
        font-size: 12px !important;
        line-height: 16px !important;
        text-align: center;
        white-space: nowrap;
        border-radius: 4px;
        padding: 8px;
        position: absolute;
        top: calc(50% - 16px);
        z-index: 1;
        opacity: 0;
        transition: opacity .5s;
    }

    #aml_dk_wrap {
        font-size: 14px !important;
        position: fixed;
        z-index: 2;
        bottom: 35px;
        right: 10px;
    }
</style>
</div>
<script type="text/javascript" src="/js/fix_jquery.min.js"></script>
<script type="text/javascript" src="/js/fix_jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/js/fix_jquery.appear-1.1.1.js"></script>
<script type="text/javascript" src="/js/20HCB1_G06.min.js"></script>
<script type="text/javascript" src="/js/fix_modernizr.custom.js"></script>
<script type="text/javascript" src="/js/fix_core.js"></script>
<script type="text/javascript" src="/js/fix_history.js"></script>
<script type="text/javascript" src="/js/fix_scrollspy.js"></script>
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/select2.min.js"></script>
<script type="text/javascript">
    (function (_, $) { _.tr({ cannot_buy: 'Bạn không thể mua các sản phẩm với các tùy chọn', no_products_selected: 'Không có sản phẩm đã chọn', error_no_items_selected: 'Không có mục được chọn! Phải chọn ít nhất một hộp kiểm để thực hiện hành động này.', delete_confirmation: 'Bạn có chắc bạn muốn xóa các khoản mục đã chọn không?', text_out_of_stock: 'Hết hàng', items: 'sản phẩm', text_required_group_product: 'Vui lòng chọn một sản phẩm cho nhóm yêu cầu [group_name]', save: 'Lưu', close: 'Đóng', notice: 'Thông báo', warning: 'Cảnh báo', error: 'Lỗi', empty: 'Trống', text_are_you_sure_to_proceed: 'Bạn có chắc bạn muốn tiếp tục không?', text_invalid_url: 'Bạn đã nhập một URL không hợp lệ', error_validator_email: 'Địa chỉ email trong mục <b>[field]<\/b> là không hợp lệ.', error_validator_phone: 'Số điện thoại không hợp lệ.', error_validator_integer: 'Giá trị của mục <b>[field]<\/b> là không hợp lệ. Nó phải là số nguyên.', error_validator_multiple: 'MỤc <b>[field]<\/b> không chứa các tùy chọn được chọn.', error_validator_password: 'Mật khẩu trong các mục <b>[field2]<\/b> và <b>[field]<\/b> không khớp.', error_validator_required: 'Bạn vui lòng nhập nội dung (Bắt buộc *) .', error_validator_zipcode: 'ZIP/Mã bưu điện trong mục <b>[field]<\/b> là không chính xác. Định dạng đúng là [extra].', error_validator_message: 'Giá trị của mục <b>[field]<\/b> là không hợp lệ.', text_page_loading: 'Đang tải... Yêu cầu của bạn đang được xử lý, xin vui lòng chờ.', error_ajax: 'Rất tiếc, một cái gì đó đã sai ([error]). Xin vui lòng thử lại.', text_changes_not_saved: 'Thay đổi của bạn đã không được lưu.', text_data_changed: 'Thay đổi của bạn chưa được lưu. Bấm OK để tiếp tục, hoặc hủy bỏ để ở lại trên trang hiện tại.', placing_order: 'Đặt đơn hàng', file_browser: 'Duyệt tập tin', browse: 'Duyệt...', more: 'Thêm', text_no_products_found: 'Không tìm thấy sản phẩm', cookie_is_disabled: 'Để có một trải nghiệm mua sắm đầy đủ, xin vui lòng <a href=\"http://www.wikihow.com/Enable-Cookies-in-Your-Internet-Web-Browser\" target=\"_blank\"> thiết lập trình duyệt của bạn để chấp nhận cookie<\/a>' }); $.extend(_, { index_script: 'index.php', changes_warning: 'N', currencies: { 'primary': { 'decimals_separator': '.', 'thousands_separator': '.', 'decimals': '0' }, 'secondary': { 'decimals_separator': '.', 'thousands_separator': '.', 'decimals': '0', 'coefficient': '1.00000' } }, default_editor: 'full_ckeditor', default_previewer: 'magnific', current_path: '', current_location: '/', images_dir: '/images', notice_displaying_time: 5, cart_language: 'vi', language_direction: 'ltr', default_language: 'vi', cart_prices_w_taxes: false, theme_name: 'aemobile', regexp: [], current_url: '/', current_host: '/', init_context: '' }); $(document).ready(function () { $.runCart('C'); }); $(document).ready(function () { $("#gotop").hide(); $('#gotop').click(function () { $("html, body").animate({ scrollTop: 0 }, 600); return false; }); }); $(window).scroll(function () { if ($(window).scrollTop() < 300) { $("#gotop").hide() } else { $("#gotop").show(); } }); $(document).ready(function () { $('.btn-add-to-cart-2').on('click', function () { $('#ajax_loading_box').show(); }); $(document).on('click', '.ui-widget-overlay', function () { $('.ui-dialog-titlebar-close').click(); }); $('.mt-radio').on('click', function () { if ($(this).hasClass('active')) { return false; } else { id = $(this).attr('data_id'); if (id == 'shipping_store') { $('#d_city').prop('disabled', true); if ($('#elm_address').val() == "") { $('#elm_address').val('tai_cua_hang'); } } if (id == 'shipping_home') { if ($('#elm_address').val() == "tai_cua_hang") { $('#elm_address').val(''); } $('#d_city').prop('disabled', false); } $('.mt-radio').removeClass('active'); $(this).addClass('active'); $('.mt-radio-content').hide(); $('#' + id).show(); } }); $('.show-more').on('click', function () { $(this).remove(); $('#content_description .area_article').attr("style", ""); }); $('.show_post').on('click', function () { $('.hidden_post').show(); }); $('.show_post_item').on('click', function () { $('.hidden_post_item').stop().hide(); $(this).stop().parent().parent().find('.hidden_post_item').show(); }); $('.reply-item').on('click', function () { item_id = $(this).attr('id'); $('.hiden-form-post-item').stop().hide(); $('.hiden-list-item').stop().hide(); $('#show-list-' + item_id).stop().show(); $('#hiden-form-post-' + item_id).stop().show(); }); $('a.to_link').click(function (e) { var link = $(this).attr('href'); $("html, body").animate({ scrollTop: $(link).offset().top - 65 }, 1000); return false; }); $(document).on('click', '.cm-dialog-opener', function () { id = $(this).attr('id'); if (id == 'features') { $('body').addClass('bopopup_features'); } }); $(document).on('click', '.ui-dialog-titlebar-close', function () { $('body').removeClass('bopopup_features'); }); }); $.ceEvent('on', 'ce.ajaxdone', function () { fn_load_img(); $('.show_post').on('click', function () { $('.hidden_post').show(); }); $('.show_post_item').on('click', function () { $('.hidden_post_item').stop().hide(); $(this).stop().parent().parent().find('.hidden_post_item').show(); }); $('.reply-item').on('click', function () { item_id = $(this).attr('id'); $('.hiden-form-post-item').stop().hide(); $('.hiden-list-item').stop().hide(); $('#show-list-' + item_id).stop().show(); $('#hiden-form-post-' + item_id).stop().show(); }); }); fn_load_img(); }(Tygh, Tygh.$)); function fn_load_img() { $('img.load_scroll').scrollSpy(); $('img.load_scroll').on('scrollSpy:enter', function () { $(this).removeClass('load_scroll'); var img = $(this).attr('data-src'); $(this).attr("src", img); }); }
</script>
<script type="text/javascript">
    $("#search_input").keyup(function(e){var a,t,s=$("#search_input");if(s.val().length>=2)if($(".search-magnifier").attr("type","submit"),13==e.keyCode)$(".search-block .search-autocomplete p.p - item.active").length>0&&(href=$(".search - block.search - autocomplete p.p - item.active .ui - corner - all").attr("href"),location.href=href);else{if(40==e.keyCode||38==e.keyCode)return $(".search-block .search-autocomplete p.p-item").length>0&&(i=-1,$(".search-block .search-autocomplete p.p - item").each(function(e){$(this).hasClass("active")&&(i=e)}),$(".search - block .search - autocomplete p.p - item").removeClass("active"),40==e.keyCode&&(i+=1,$(".search - block .search - autocomplete p.p - item").eq(i).addClass("active")),38==e.keyCode&&(i-=1,$(".search - block .search - autocomplete p.p - item").eq(i).addClass("active"))),!1;s.val();null!=a&&a.abort(),a=$.ajax({url:"/tim-kiem?ajax=true&"+$("#search_input").serialize(),dataType:"json",data:{},success:function(e){var a="";$.each(e.results,function(e,t){a+=`    \n                                <p class="p-item clearfix">\n                                    <a class="ui-corner-all" href="/${t.type}/${t.path_url}">\n                                        <img class="product-notification-image float-left pict" \n                                            alt="${t.name}" title="${t.name}" width="50" height="50"\n                                            src="/uploads/${t.extend_products[0].path_image}">\n                                        ${t.name}\n                                        <br>\n                                        <span class="list-price nowrap">\n                                            <span id="sec_old_price_3344" class="list-price nowrap">${parseInt(t.price).toLocaleString("it-IT")}</span><sup style="font-size:smaler">₫</sup>\n                                        </span>\n                                    </a>\n                                </p>\n                                `}),a+=`\n                                <div class="result_total">\n                                        <a href="/tim-kiem?q=${e.q}"> Tìm thấy <strong>${e.countq}</strong> Kết quả</a>\n                                        <span id="result_close">Đóng</span>\n                                </div>\n                                `,t=e.results?a:'<p class="search_not_ajx">Không tìm thấy kết quả phù hợp!</p>',$(".search-autocomplete").html(t).css("display","block")}})}}),$(document).on("click","#result_close",function(){$(".search-autocomplete").css("display","none"),$("#search_input").val("")});
</script>
<script type="text/javascript" src="/js/fix_owl.carousel.js"></script>
<script type="text/javascript" defer="" async="">
    var slider = $('#banner_slider'); if (slider.length) { slider.owlCarousel({ direction: 'ltr', items: 1, singleItem: true, slideSpeed: 400, autoPlay: '7000', stopOnHover: true, lazyLoad: true, pagination: true, navigation: true, navigationText: ['Trước', 'Tiếp theo'] }); }
</script>
<script type="text/javascript" src="/js/fix_owl.carousel.min.js"></script>
<script type="text/javascript">(function (_, $) { $.ceEvent('on', 'ce.commoninit', function (context) { var elm = context.find('#scroll_list'); $('.ty-float-left:contains(.ty-scroller-list),.ty-float-right:contains(.ty-scroller-list)').css('width', '100%'); var item = 6, itemsDesktop = 4, itemsDesktopSmall = 3; itemsTablet = 3; if (item > 3) { itemsDesktop = item; itemsDesktopSmall = item - 1; itemsTablet = item - 2; } else if (item == 1) { itemsDesktop = itemsDesktopSmall = itemsTablet = 1; } else { itemsDesktop = item; itemsDesktopSmall = itemsTablet = item - 1; } var desktop = [1199, itemsDesktop], desktopSmall = [979, itemsDesktopSmall], tablet = [768, itemsTablet], mobile = [479, 1]; if (elm.length) { elm.owlCarousel({ direction: 'ltr', items: item, lazyLoad: true, itemsDesktop: desktop, itemsDesktopSmall: desktopSmall, itemsTablet: tablet, itemsMobile: mobile, autoPlay: '3000', slideSpeed: 400, stopOnHover: true, navigation: true, navigationText: ['Trước', 'Tiếp theo'], pagination: false }); } }); }(Tygh, Tygh.$));
</script>

</body>

</html>